<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body bgcolor="#E7E6B3">
    <a href="http://m54wkp5ctdpummms.onion">Home</a>&nbsp;<a href="http://m54wkp5ctdpummms.onion/rules">Rules</a>&nbsp;<a href="http://m54wkp5ctdpummms.onion/about">About</a>
    <h1>About</h1>
    <p>
        This service is freely provided by CaveFox Telecommunications; we believe<br>
        that everyone has a right to be heard without fearing for their safety.<br>

    </p>
    <p>
        This system allows people to publish static content to the Deep Web without<br>
        having to worry about the security, and technical parts of the site.
    </p>
    <p>
        When you publish a page you simply paste your code into the appropriately<br>
        labeled box on the home page. If you want a custom link<br>
        (eg. http://m54wkp5ctdpummms.onion/p/custom_link_here) enter it in the fourth<br>
        box labeled "Custom Post ID". IDs must only contain letters and numbers, and<br>
        will be converted to lower case. If the post is accepted you will be given a<br>
        modification key, SAVE THIS! The modification key can be entered into the box<br>
        labeled "Post Modification Key" to modify the page.
    </p>
    <p>
        To modify a post simply enter the updated code to the appropriately labeled box,<br>
        enter your post ID into the box labeled "Post ID", enter your modification key into <br>
        the box labeled "Post Modification Key", and leave the box labeled "Custom Post ID"<br>
        blank, click submit and your page will be updated. <b>A NEW MODIFICATION KEY WILL BE<br>
        GENERATED</b>, the old key will be made invalid in order to better secure your site.
    </p>
    <p>
        Follow the <a href="http://m54wkp5ctdpummms.onion/rules">rules</a> and your site will be kept up for as long<br>
        as the service is offered. We follow US law in order to keep the service available<br>
        for those that want to be heard, but are restricted from doing so in some way<br>
        whether it be financial difficulties, or other complications.
    </p>
    <p>
        Please note that while we obey US laws we are not technically capable of logging IP<br>
        addresses that connect to the server due to the use of <a href="http://torproject.org">Tor</a>. If you see rule violations<br>
        email cavefox@tuta.io and the report will be reviewed. PLEASE DO NOT ASK FOR IP LOGS,<br>
        WE WOULD NOT EVEN BE TECHNICALLY CAPABLE OF KEEPING THEM IF WE WANTED TO.
    </p>
</body>
</html>