<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body bgcolor="#E7E6B3">
    <a href="/">Home</a>&nbsp;<a href="/rules">Rules</a>&nbsp;<a href="/about">About</a>&nbsp;<a href="/p/blog">Blog</a>&nbsp;<a href="/p/adminlog">Admin Log</a>
    <h1>About</h1>
    <p>
        This service is freely provided by CaveFox Telecommunications; we believe<br>
        that everyone has a right to be heard without fearing for their safety.<br>

    </p>
    <p>
        This system allows people to publish static content to the Deep Web without<br>
        having to worry about the security, and technical parts of the site.
    </p>
    <p>
        Create an account by clicking register on the home page; if you have<br>
        an accout just login. You will be directed to the user management page,<br>
        the rest is pretty straight forward.
    </p>
    <p>
        When you publish a page you simply paste your code into the appropriately<br>
        labeled box on the create post page. If you want a custom link<br>
        (eg. {{ site_url }}/p/custom_link_here) enter it in the box labeled<br>
        "Custom Post ID". IDs must only contain letters and numbers.
    </p>
    <p>
        To modify a post simply select edit in the management console next to the page's<br>
        name, and modify the code to what you want; then just click publish.
    <p>
        Follow the <a href="/rules">rules</a> and your site will be kept up for as long<br>
        as the service is offered. We follow US law in order to keep the service available<br>
        for those that want to be heard, but are restricted from doing so in some way<br>
        whether it be financial difficulties, or other complications.
    </p>
    <p>
        Please note that while we obey US laws we are not technically capable of logging IP<br>
        addresses that connect to the server due to the use of <a href="http://torproject.org">Tor</a>. If you see rule violations<br>
        email {{ admin_email }} and the report will be reviewed. PLEASE DO NOT ASK FOR IP LOGS,<br>
        WE WOULD NOT EVEN BE TECHNICALLY CAPABLE OF KEEPING THEM IF WE WANTED TO.
    </p>
</body>
</html>