<!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>
			TorPages|Tor Hidden Personal Site Hosting
		</TITLE>
	</HEAD>
<body bgcolor="#E7E6B3">
	<!-- If you want to know what makes this site tick you don't need to snoop, this project is open source on GitHub -->
	<a href="http://m54wkp5ctdpummms.onion">Home</a>&nbsp;<a href="http://m54wkp5ctdpummms.onion/rules">Rules</a>&nbsp;<a href="http://m54wkp5ctdpummms.onion/about">About</a>
	<H1>TorPages|Tor Hidden Personal Site Hosting</H1>
    <p>####################################<br>
	Fill the form below to post a personal HTML page.<br>
	This is to be used for privacy concerned individuals NOT CRIMINALS<br>
	<b>All posts must follow the posted <a href="http://m54wkp5ctdpummms.onion/rules">rules</a></b><br>
	This is perfect for people who need to be heard, but would be at risk talking publicly<br>
	<b>Report rule violations to cavefox@tuta.io</b><br>
    ####################################</P>
		<form method="post" action="">
		<textarea name="code" cols="75" rows="15">Enter your HTML code here...</textarea><br>
        <br>
		Post ID (Only Needed if Modifying a Previously Published Page):<br>
		<input type="text" name="ID"><br>
        <br>
		Post Modification Key (Only Needed if Modifying a Previously Published Page):<br>
		<input type="text" name="key"><br>
        <br>
		Custom Post ID (Only Needed if a Custom Link is Desired [ NEW POSTS ONLY - NOT CASE SENSITIVE ]):<br>
		<input type="text" name="customlink"><br>
        <br>
		<input type="submit" value="Publish" />
		</form>
    <P>####################################</P>
	<P>Designed and Hosted by <a href="https://cavefox.net">CaveFox Telecommunications</a></P>
    <P>Everybody has a right to share their opinions, this is a platform to do so.</P>
    <p>The operators of this site do not endorse any content published by users</P>
	<p>Feel free to <a href="http://www.kopimi.com/">Kopimi!</a></p>
</body>