<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TorPages|Legacy Page Import</title>
</head>
<body bgcolor="#E7E6B3">
    <a href="/">Home</a>&nbsp;<a href="/rules">Rules</a>&nbsp;<a href="/about">About</a>&nbsp;<a href="/p/blog">Blog</a>&nbsp;<a href="/p/adminlog">Admin Log</a>
    <br>
    <l>####################################</l>
    <h1>TorPages|Legacy Page Import</h1>
    <l>####################################</l>
    <form method="post" action="/legacy">
		Post ID:<br>
        <input type="text" name="postID"><br><br>
        Post Modification Key:<br>
        <input type="text" name="postKey"><br><br>
		<input type="submit" value="Import">
	</form>
</body>
</html>