<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TorPages|Login</title>
</head>
<body bgcolor="#E7E6B3">
    <a href="/">Home</a>&nbsp;<a href="/rules">Rules</a>&nbsp;<a href="/about">About</a>&nbsp;<a href="/p/blog">Blog</a>&nbsp;<a href="/p/adminlog">Admin Log</a>
    <br>
    <l>####################################</l>
    <h1>TorPages|Login</h1>
    <l>####################################</l>
<form method="post" action="/login">
		<br>
		Username:<br>
        <input type="text" name="username"><br><br>
		Password:<br>
        <input type="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
</body>
</html>