<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>TorPages | Management Console</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style>
        body {
        padding-top: 20px;
        padding-bottom: 20px;
        }

        .navbar {
        margin-bottom: 20px;
        }

    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TorPages | Management Console</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/create">Create New Page</a></li>
              <li><a href="/changepass">Change Password</a></li>
              <li><a href="/legacy">Import Legacy Page</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-text">Signed in as {{ username }}</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          {% if error == 1 %}
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp;Page deleted successfully!
            </div>
          {% elif error == 2 %}
          <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp;Password changed successfully!
          </div>
          {% elif error == 3 %}
          <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp;Page imported successfully!
          </div>
          {% endif %}
            <table class="table">
        <thead>
            <h2><b>My Pages </b><a href="/create"><button type="button" class="btn btn-primary">Create a Page</button></a></h2>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for x in sites %}
            <tr>
                <td style="width: 90px;"><a href="/p/{{ x }}"><button type="button" class="btn btn-link"><b>{{ x }}</b></button></a></td>
                <td style="width: 90px;"><a href="/edit/{{ x }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td><a href="/delete/{{ x }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      </div>
        <div class="jumbotron">
          {% if error == 5 %}
          <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp;Site deleted successfully!
          </div>
          {% elif error == 6 %}
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp;Site created successfully!
            </div>
            {% elif error == 7 %}
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp;Page deleted successfully!
            </div>
            {% elif error == 8 %}
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                &nbsp;Site names must only contain letters and numbers, and must be less than 50 characters.
            </div>
          {% endif %}
          <table class="table">
        <thead>
            <h2><b>My Sites</b> <a href="/createsite"><button type="button" class="btn btn-primary">New Site</button></a>
            <a href="/create"><button type="button" class="btn btn-primary">Create a Page</button></a></h2>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
            {% for dir in subdirs %}
              <tbody>
              <tr>
                  <td><h3>{{ dir }}</h3><a href="/sites/deletesite/{{ dir }}"><button type="button" class="btn btn-danger">Delete {{ dir }}</button></a></td>
              </tr>
            {% for y in dirs %}
            {% for file in y[dir] %}
            <tr>
                <td style="width: 90px;"><a href="/s/{{ dir }}/{{ file }}"><button type="button" class="btn btn-link"><b>{{ file }}</b></button></a></td>
                <td style="width: 90px;"><a href="/sites/edit/{{ dir }}/{{ file }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td><a href="/sites/deletefile/{{ dir }}/{{ file }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            </tbody>
            {% endfor %}
            {% endfor %}
            {% endfor %}
    </table>
      </div>
      <div class="jumbotron">
          {% if error == 4 %}
          <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                &nbsp;File removed successfully!
          </div>
          {% endif %}
          <table class="table">
        <thead>
            <h2><b>My Files </b><a href="/upload"><button type="button" class="btn btn-primary">Upload a File</button></a></h2>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for filenames, realnames in files %}
            <tr>
                <td style="width: 90px;"><a href="/f/{{ filenames }}"><button type="button" class="btn btn-link"><b>{{ realnames }}</b></button></a></td>
                <td style="width: 90px;"><a href="/editfile/{{ filenames }}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                <td><a href="/deletefile/{{ filenames }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
